.ButtonTray {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    margin-top: 1em;
}

.ButtonTray__char-count {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
