<mat-dialog-content>
  <mat-form-field class="full-width" *ngIf="cardType === 'basic'">
    <input matInput placeholder="Word" class="full-width" [(ngModel)]="word">
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="cardType === 'basic'">
    <input matInput placeholder="Translation" class="full-width" [(ngModel)]="translation">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Sentence" class="full-width" [(ngModel)]="sentence">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="save()">Edit</button>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>

